/*
    Document   : FinalProject/CST336_Final_Project/css/stylesheet.css
    Created on : 2015-04-21 12:07 AM
    Author     : saymtfmtfmtf
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

body, input.mysubmitbutton {
    font-family: 'Kaushan Script', cursive;
}

a:link, a:visited, a {
    text-decoration: none;
    color: rgb(255, 204, 153);
}

a:hover {
    text-decoration: underline;
    color:#FF0000;
}