/*
    Document   : CST336_Final_Project/css/mainlogin_stylesheet.css
    Created on : 2015-05-05 05:32 AM
    Author     : saymtfmtfmtf
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}



#parent, #admin { width: 100%;
                  margin: auto;}

span { font-size:2em; }
